<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "index" %}">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "index" %}">Home</a>
                </li>

                <li class="nav-item">
                    {% if request.user.is_authenticated %}

                        <a class="nav-link" href="{% url 'account_logout' %}"> Sign Out</a>
                    {% else %}
                            <a class="nav-link" href="{% url 'account_login' %}"> Sign In</a>
                             <a class="nav-link" href="{% url 'account_signup' %}"> Login </a>
                    {% endif %}
                </li>


                <li class="nav-item">
                    <a class="nav-link"> {{ user.username }} </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Кабинет
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url "all_posts_list" %}">Все посты</a></li>
                        <li><a class="dropdown-item" href="{% url 'user_posts_list' user %}">Мои посты</a></li>
{#                        <li><a class="dropdown-item" href="{{ post.get_absolute_url }}">Мои посты</a></li>#}
                    </ul>
                </li>
                {#          <li class="nav-item dropdown">#}
                {#          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">#}
                {#            Книги#}
                {#          </a>#}
                {#          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">#}
                {#            <li><a class="dropdown-item" href="#">Все книги</a></li>#}
                {#            <li><a class="dropdown-item" href="{{ book.get_absolute_url }}">Книги по авторам</a></li>#}
                {#          </ul>#}
                {#        </li>#}
             <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "add_post" %}">Add post</a>
                </li>
             <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url "add_post_model" %}">Add post model</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Пошук">
                <button class="btn btn-outline-success" type="submit">Пошук</button>
            </form>
        </div>
    </div>
</nav>